
#main-doc{
    grid-template-areas: 
          
    "navbar"
    "sec";
}

#navbar{
    grid-area: navbar;
    display: flex;
    flex-direction: column;

}

header{
    font-size: large;
    font-weight: 600;
}

#navbar *{
    margin: 10px;
    padding: 10px 0;
    border-bottom: 1px solid gray;
    color: rgb(18, 18, 18);
    text-decoration: none;
    cursor: pointer;
}

#sec_cover{
    grid-area: sec;
    overflow-y: scroll;

}
#Introduction{
    grid-area: Introduction;
}

#What_you_should_already_know{
    grid-area: What_you_should_already_know;
}

#JavaScript_and_Java{
    grid-area: JavaScript_and_Java;
}

#Hello_world{
    grid-area: Hello_world;
}

#Variables{
    grid-area: Variables;
}


@media only screen and (min-width: 600px ) {
    #main-doc {
        display: grid;
        grid-template-areas: 
          "navbar sec "
          "navbar sec "
          "navbar sec"
          "navbar sec"
          "navbar sec";
        grid-template-rows: 1fr;  
        grid-template-columns:20% 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        height: 100vh;
        margin: 0;
        overflow: scroll;
    }

    #sec_cover{
        border-left: 1px solid gray;
        padding-left: 30px;
        
    }
}